<head>
    <meta name="referrer" content="no-referrer"/>
    <meta name="google-site-verification" content="9vIieCe-Qpd78QOmBl63rGtIVbhY6sYyuxX3j8XWBA4" />
    <meta name="baidu-site-verification" content="LRrmH41lz7" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .Params.description }}
    <meta name="description" content="{{ .Params.description }}">
    {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}">
    {{ end }}
    <meta name="keyword"  content="{{ .Site.Params.keyword }}">
    <link rel="shortcut icon" href="{{ "img/favicon.ico" | relURL }}">

    <title>{{ if .Title }}{{ .Title }}-{{ .Site.Params.SEOTitle }}{{ else }}{{ .Site.Params.SEOTitle }}{{ end }}</title>

    <link rel="canonical" href="{{ .URL | relURL }}">

    <link rel="stylesheet" href="{{ .Site.Params.imgurl }}/iDisqus.min.css"/>
	
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ .Site.Params.imgurl }}/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ .Site.Params.imgurl }}/hux-blog.min.css">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ .Site.Params.imgurl }}/syntax.css">

    <!-- zangshang CSS -->
    <link rel="stylesheet" href="{{ .Site.Params.imgurl }}/zanshang.css">

    <!-- Custom Fonts -->
    <link href="{{ "css/font-awesome.min.css" | relURL }}" rel="stylesheet" type="text/css">
    <!--
    <script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    -->
    <!-- jQuery -->
    <script src="{{ .Site.Params.imgurl }}/jquery.min.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ .Site.Params.imgurl }}/bootstrap.min.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="{{ .Site.Params.imgurl }}/hux-blog.min.js"></script>
</head>
